.container {
  max-width: 750px;
  width: 100%;
  max-height: 450px;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow-y: scroll;
  background-color: rgb(234, 230, 222);
  padding: 20px;
}
